 /* 
fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
#FFE492
#4F9CF9
#043873
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* Basic css */

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    
}
.theme-button{
    display: inline-block;
    background: #4fdefd;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.theme-button:hover{
    background: #ffe492;
    color:#fff
}

.theme-button-small{
    display: inline-block;
    background: #ffe492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color:#043873 !important;
}
.theme-button-three{
    display: inline-block;
    background: #fff;
    border: 1px solid ;
    border-radius: 8px;
    padding: 16px 24px !important;
    color:#043873 !important;
    border: 1px solid #FFE492;
    border-radius: 8px;
}

.theme-text h3{
    font-size: 64px;
    color:#212529 ;
}
.theme-text p{
    color:#212529 ;
}
.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;;
    height: 65px;
    height: 50px;
    left: 0;
    bottom: 0;
    background-image: url(images/element.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}


/* header css */

.header-area{
    background-color:#043873 ;
    padding: 16px 0;
}
.header-area .nav-link{
    color: #ffffff !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500 ;
    margin-left: 24px;
}

.header-area .theme-button{
    margin-left: 24px;
}

.header-area .theme-button-small{
    margin-left: 24px;
}

/* hero area */
.hero-area{
    background-image: url(images/herobg.png);
    padding: 140px 0;
}
.hero-text h3{ 
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}

.hero-text p{ 
    color: #fff;
}

 /* management-area */

 .management-area{
    background-color: #fff;
    padding: 140px 0;
 }
 .work-management{
    margin-top: 80px;
 }


 /* extension-area */

 .extension-area{
    background-color: #043873;
    padding: 140px 0;
 }
 .extension-area .theme-text h3{
    color: #fff;
 }

 .extension-area .theme-text p{
    color: #fff;
 }
/* customize */


.customize-area{
    padding: 140px 0;
 }
 

 /* pricing-area */

 .pricing-area{
    background-color: #fff;
    padding: 140px 0;
 }
.pricing-area .theme-text{
    margin-bottom: 60px;
}

.single-pricing{
    padding: 40px 44px;
    border: 1px solid #FFE492;
    border-radius: 10px;
}
.single-pricing h4{
    
    font-size: 24px;
    line-height: 36px
}

.single-pricing h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 25px 0;
}
 
.single-pricing p{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;  
}
.single-pricing ul{
    padding: 0;
    margin: 0;
    margin: 25px 0;

}
.single-pricing ul li{
    list-style: none;
    margin-bottom: 28px;
}

.single-pricing a{
   text-decoration: none;
}
.special-price{
    padding: 80px 44px;
    background-color: #043873;
    color: #fff;
}

.special-price h2
{
   color: #FFE492;
}


/* your-work-area */

.your-work-area{
    background-color: #043873;
    padding: 140px 0;
}

.your-work-area .theme-text h3{
    color: #fff;
}
.your-work-area .theme-text p{
    color: #fff;
}

/* your-task-area */

.your-task-area{
    padding: 140px 0;
}

/* sponsor-area */
.your-sponsors-area
{
    padding: 140px 0;
}

.your-sponsors-area .theme-text{
    margin-bottom: 50px;
}
.singal-sponsors img{
    height: 55px;
    width: auto;
}


/* apps-area */

.apps-area{
    padding: 140px 0;
    background-image: url(images/appsbg.png);
    background-position: center;
    background-size: cover;
}

.apps-area .theme-text h3{
    color: #fff;
}
.apps-area .theme-text p{
    color: #fff;
}

/* apps-area */

.testimonial-area{
    padding: 140px 0;
}

.testimonial-area .theme-text h3{
    color: #212529;
}

/* testimonial-area */

.testimonial-area{
    padding: 140px 0;
    color: #fff;
}
.testimonial-area .theme-text{
    margin-bottom: 40px;
}

.singal-testimonial{
     
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px 20px;
    color: #212529;
    background-color: #4F9CF9;
}

.testimonial-text{
    margin-bottom: 1px solid #212529;
}

.testimonial-text img{
    margin-bottom: 40px;
    height: 60px;
    width: auto !important;
}
.testimonial-area p{
    margin-bottom: 30px;
}
.testimonial-author{
    margin-top: 40px;
    display: flex
}
.author-image{
    margin-right: 25px;
   
}
.author-text h3{
    font-size: 24px;
    color: #fff;
}
.author-text p{
    margin-bottom: 0;
    color: #fff;
}

.testimonial-area .owl-dots{
    text-align: center;
}

.testimonial-area .owl-dots button{
    height: 15px;
    width: 15px;
    background-color: #4F9CF9 !important;
    border-radius: 50%;
    margin: 0 5px;
}


.testimonial-area .owl-dots button.active{
    background-color: #043873 !important; ;
}













/* mediao quriews */

@media (max-width:991px){
    .theme-button{
        width: 100%;
        text-align: center;
    }
    .theme-button-small{
        width: 100%;
        margin-left: 0px;
        text-align: center;
        margin-top: 15px;
    }
    .header-area .theme-button{
        margin-bottom: 50px;
    }
    .header-area .nav-link{
        padding: 16px 0;
        margin-top: 15px;
    }

    .header-area .navbar-toggler {
        border: none;
        box-shadow: none;
    }

    .header-area .nav-link
    {
        position: relative;
    }

    .hero-area{
        text-align: center;
        padding: 80px 0;
    }
    .hero-area .theme-button{
        margin-bottom: 30px;
    }

    .project-management{
        text-align: center;
        padding: 80px 0;
    }
    .project-management .theme-button{
        margin-bottom: 30px;
    }

    .work-management{
        text-align: center;
        padding: 80px 0;
    }
    .work-management .theme-button{
        margin-bottom: 30px;
    }

    .extension-area{
        text-align: center;
        padding: 80px 0;
    }
    .extension-area .theme-button{
        margin-bottom: 30px;
    }
    .customize-area{
        text-align: center;
        padding: 80px 0;
    }
    .customize-area .theme-button{
        margin-bottom: 30px;
    }
    .your-task-area{
        text-align: center;
        padding: 80px 0;
    }
    .your-task-area .theme-button{
        margin-bottom: 30px;
    }

    .pricing-area{
            padding: 80px 0;
         }
    .special-price{
         margin-bottom: 30px;
    }

    .your-task-area{
        padding: 80px 0;
    }

    .your-sponsors-area
    {
        padding-top: 80px;
        padding-top: 30px;
    }

    .singal-sponsors {
        margin-bottom: 50px;
    }

    .your-sponsors-area
    {
    padding: 80px 0;
    }

    .apps-area{
        padding: 80px 0; 
    }

    .apps-image{
        margin-bottom: 50px;
    }

    .testimonial-area{
        padding: 80px 0;
        color: #fff;
    }
}